<body>

<head>

    <title>INDEX</title>
    <meta charset="UTF-8">

<!--External links (Both CSS and js files...)-->
    <link href="resources/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="resources/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="resources/js/bootstrap.js" type="text/javascript"></script>


</head>

<!--main navigation bar-->

<div class="navmenu">
<ul>
    <li><a href="index.html">HOME</a></li>
    <li><a href="list.html">CAR LIST</a></li>
    <li><a href="form.html">PROFILE</a></li>
    <li><a href="aboutus.html">ABOUT US</a></li>
    <li><a href="gallery.html">GALLERY</a></li>
    <li style="float: right"><a href="login.html">LOG IN</a></li>
    <li style="float: right"><a href="signup.html">SIGN UP</a></li>
</ul>
<br>
</div>

<!--Slider image-->

<div class="fix slider">

    <center><img src="images/1.jpg"></center>
</div>

<!--Contact information using two div tags-->

<div class="fix location">

    <h2>You Can Contact Us Here:</h2>
<div class="contacts">
    <h3>Email:hotwheels.com</h3>
    <h4>phone:+8801912517122</h4>
    <h4>location:Everywhere In Bangladesh.</h4>

</div>




</div>

</head>

</body>

</html>