ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

h2{margin-left: 10px;}

.location{float:left;width:600px;}

.contacts{height:150px;width:400px;150px;background-color: #1b6d85;
          margin-left: 10px;margin-right: 200px;
          }

h3{margin-top:20px;margin-bottom:20px;color:greenyellow}
h4{color:rosybrown}

.cars {
    padding:20px;
       }